/* form div {
    position: relative;
    margin-top: -10px;
} */

form div {
    background: #fff;
    border-bottom: 1px solid #100f3a;
    margin: 1rem 2rem;
    padding: 2rem;
}

[type="text"],
[type="email"],
textarea,
label {
    display: block;
    width: 100%;
}

label {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 300;
    color: #100f3a;
}

input {
    cursor: pointer;
    padding: 8px;
    color: #605ece;
    font-weight: 300;
    font-size: 1.2rem;
}

textarea {
    font-size: 1.4rem;
    font-weight: 300;
}

.quiz {
    font-size: 1.2rem;
    font-weight: 300;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
}

form {
    padding: 20px;
}

form div {
    padding-top: 13px;
}


@media (max-width: 720px) {
    form div {
        display: block;
        text-align: center;
    }

    form div {
        width: 100%;
        margin: 1rem 0;
    }

    form {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}