* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    background-color: #F5F0F0;
}



.logo {
    padding: 20px 0;
    font-size: 2.5rem;
    font-weight: 800;
    color: #184a79;
    margin-right: 48px;
    margin-top: -5px;
    text-align: center;
}

.logo a {
    color: #100f3a;
    text-decoration: none;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}



header nav ul {
    list-style: none;
    background-color: #100F3A;
    display: flex;
}

@media (max-width: 720px) {
    header nav ul {
        display: block;
        text-align: center;
    }

    header nav {
        width: 100%;
    }
}

header nav ul :hover {
    background-color: #8482DB;
}

header nav ul li {
    border-right: 1px solid #fff;
}

header ul li a {
    text-decoration: none;
    display: block;
    padding-left: 24px;
    padding-right: 24px;
    line-height: 59px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

a :hover {
    text-decoration: underline;
}


main {
    padding: 24px 24px;
    margin-left: 5%;
    border-radius: 14px;
}

main {
    width: 30%;
    height: 100%;
    background-color: #7ab3a96c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: left;
}

@media (max-width: 860px) {
    main {
        width: 100%;
    }
}


main picture {
    width: 200px;
    margin: 15px 0;
}

picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

picture img {
    filter: sepia(100%);
}

picture img:hover {
    filter: none;
}

section {
    width: 65%;
    float: left;
    font-size: 1.6rem;
    padding: 64px 44px;
}

section h1 {
    font-weight: 600;
    font-size: 2rem;
    color: #3da08a;
}

section p {
    font-size: 1.4rem;
}

section h4 {
    text-decoration: underline wavy #100F3A;
    font-style: oblique;
}

@media (max-width: 860px) {
    section {
        width: 100%;
    }
}

section h3 {
    color: gray;
}

.personalized-link a {
    text-decoration: none;
    color: #100f3a;
}

.personalized-link a:hover {
    text-decoration: underline;
    font-weight: bold;
}