/*menu de cards */
.modalDialog {
	width: 100%;
	height: 100%;
	display: none;
	position: relative;
	z-index: 999999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/* flex-direction: column;
	justify-content: center;
	align-items: center; */
}

/*pseudo-classe*/
.modalDialog:target {
	display: block;
	opacity: 1;
	pointer-events: auto;
}

/*aninhamento*/
.modalDialog div {
	width: 100%;
	position: relative;
	overflow: hidden;
	background-color: rgb(35, 95, 205);
}

.aligner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pop-up {
	width: 100%;
	padding: 15px;
}


@media (max-width: 560px) {
	.modalDialog div {
		width: 100%;
	}

	.menu-principal {
		display: none;
	}
}

.modalDialog p {
	margin-top: 5%;
	margin-bottom: 5%;
}

.modalDialog img {
	width: 50%;
	position: relative;
	margin-left: 25%;
}

/*adição do botão close*/
.close {
	background-color: #606061;
	color: #ffffff;
	line-height: 25px;
	position: absolute;
	right: 0px;
	text-align: center;
	top: 0px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.close:hover {
	background-color: #b50909;
}

.footer-content {
	padding: 20px;
	display: flex;
}

.card01 {
	background-color: red;
}

.card02 {
	background-color: rgb(14, 14, 5);
}

.card03 {

	background-color: blue;
}


.footer-text {
	/* width: 30%; */
	color: rgb(255, 255, 255);
	position: relative;
	float: left;
}

.footer-text a {
	color: rgb(255, 255, 255);
}

.footer-text a:hover {
	text-decoration: none;
	color: gray;
}

footer {
	display: flex;
}

@media (max-width: 720px) {
	footer {
		display: block;
	}
}

/* main section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
} */

.conteudo h1 span {
	display: none;
}

.conteudo nav {
	display: none;
}

/* Animação menu */
@media (max-width: 560px) {
	.conteudo h1 span {
		font-size: 14px;
		color: rgb(192, 24, 24);
		cursor: pointer;
		display: block;
	}

	.conteudo nav {
		display: block;
		overflow: hidden;
		height: 0;
		transition: 1s;
	}

	.mostrar {
		height: 200px !important;
	}
}

#menu-mobile {
	text-align: center;
	align-items: center;
}