/*menu de cards */
.modalDialog{
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	z-index: 999999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 255, 255, 0.668);
}
/*pseudo-classe*/
.modalDialog:target{
	display: block;
	opacity: 1;
	pointer-events: auto;
}
/*aninhamento*/
.modalDialog div {
	width: 600px;
	
	position: relative;
	background-color: rgba(29, 73, 154, 0.653);
}

.pop-up{
	margin: 5% 0;
	left: 26%;
	border-radius: 12px;
	padding: 15px;
}


@media (max-width: 830px){
	.modalDialog div {
		width: 320px;
	}
}

.modalDialog p{
	margin-top: 5%;
	margin-bottom: 5%;
}

.modalDialog img {
	width: 50%;
	position: relative;
	margin-left: 25%;
}

/*adição do botão close*/
.close {
	background-color: #606061;
	color: #ffffff;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.close:hover{
	background-color: #b50909;
	padding: 1px;
}

.footer-content {
	padding: 20px;
	display: flex;
}

.card01 {
	background-color: red;
}
.card02 {
	background-color: rgb(14, 14, 5);
}
.card03 {
	
	background-color: blue;
}


.footer-text{
    /* width: 30%; */
	color: rgb(255, 255, 255);
    position: relative;
    float: left;
}

.footer-text a {
	color: rgb(255, 255, 255);
}

.footer-text a:hover {
	background-color: #5555;
	text-decoration: none;
	padding: 4px;
	border-radius: 11px;
}

footer {
	display: flex;
}

@media (max-width: 720px){
	footer {
		display: block;
	}
}