
.logo {
    font-size: 36px;
    font-weight: 800;
    color: #100f3a;
    margin-right: 48px;
    margin-top: -5px;
}

header nav ul {
    list-style: none;
    background-color: #100F3A;
    width: 100%;
    display: flex;
}

header ul li a {
    background-color: transparent;
    text-decoration: none;
    display: block;
    padding-left: 24px;
    padding-right: 24px;
    line-height: 59px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

header ul li a :hover {
    text-decoration: none;
    color: #007bff;
    -webkit-font-smothing: antialiased;
    text-shadow: rgba(0, 0, 0, 1%);
}